.idea/
.logs/
**/*.log
**/*.iml
.idea
*.iml
logs/
online-exam-auth/target/
online-exam-common/target/
online-exam-config/target/
online-exam-eureka/target/
online-exam-gateway/target/
online-exam-modules/online-exam-exam/target/
online-exam-modules/online-exam-user/target/
online-exam-zipkin/target/
docker
online-exam-monitor/online-exam-admin/target/
online-exam-monitor/online-exam-zipkin/target/
deploy/nginx/online-exam-ui/dist/
deploy/nginx/online-exam-web/dist/
deploy/fastDFS/data/
/online-exam-common/online-exam-common.iml
