<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.MenuMapper">
    <resultMap id="menuResultMap" type="com.github.tangyi.user.module.Menu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
        <result column="url" property="url"/>
        <result column="parent_id" property="parentId"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="type" property="type"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
    </resultMap>

    <sql id="menuColumns">
        a.id as "id",
        a.name,
        a.permission,
        a.url,
        a.parent_id,
        a.icon,
        a.sort,
        a.type,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="name != null and name != ''">
            and a.name like #{name}
        </if>
        <if test="type != null and type != '' ">
            and a.type like #{type}
        </if>
        <if test="permission != null and permission != ''">
            and a.permission like #{permission}
        </if>
    </sql>

    <select id="get" resultMap="menuResultMap">
        SELECT
        <include refid="menuColumns"/>
        FROM SYS_MENU a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <insert id="insert">
        INSERT  INTO SYS_MENU (
            id,
            name,
            permission,
            url,
            parent_id,
            icon,
            sort,
            type,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code
        ) VALUES (
            #{id},
            #{name},
            #{permission},
            #{url},
            #{parentId},
            #{icon},
            #{sort},
            #{type},
            #{creator},
            #{createDate},
            #{modifier},
            #{modifyDate},
            #{delFlag},
            #{applicationCode}
        )
    </insert>

    <select id="findList" resultMap="menuResultMap">
        SELECT
        <include refid="menuColumns"/>
        FROM SYS_MENU a
        WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="findByRole" resultMap="menuResultMap">
        SELECT
        <include refid="menuColumns"/>
        FROM
        sys_role a
        LEFT JOIN sys_role_menu rm ON rm.role_id = a.role_id
        LEFT JOIN sys_menu m ON m.menu_id = rm.menu_id
        WHERE
        a.del_flag = 0
        AND m.del_flag = 0
        AND a.role_code = #{role}
        ORDER BY m.sort DESC
    </select>

    <update id="update">
        UPDATE SYS_MENU  SET
        <if test="name != null">
            name = #{name},
        </if>
        <if test="permission != null">
            permission = #{permission},
        </if>
        <if test="url != null">
            url = #{url},
        </if>
        <if test="icon != null">
            icon = #{icon},
        </if>
        <if test="sort != null">
            sort = #{sort},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate}
        WHERE
        <if test="id != null">
            id = #{id}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
    </update>

    <delete id="delete">
        UPDATE SYS_MENU SET
			del_flag = 1
		WHERE id = #{id}
    </delete>
</mapper>
