<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="com.github.tangyi.user.module.Role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName" />
        <result column="role_code" property="roleCode" />
        <result column="role_desc" property="roleDesc" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
        <result column="del_flag" property="delFlag" />
        <result column="application_code" property="applicationCode" />
    </resultMap>

    <sql id="roleColumns">
        a.id as "id",
        a.role_name,
        a.role_code,
        a.role_desc,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <select id="get" resultMap="roleResultMap">
        SELECT
        <include refid="roleColumns"/>
        FROM SYS_ROLE a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <insert id="insert">
        INSERT INTO SYS_ROLE (
        id,
        role_name,
        role_code,
        role_desc,
        creator,
        create_date,
        modifier,
        modify_date,
        del_flag,
        application_code
        ) VALUES (
        #{id},
        #{roleName},
        #{roleCode},
        #{roleDesc},
        #{creator},
        #{createDate},
        #{modifier},
        #{modifyDate},
        #{delFlag},
        #{applicationCode}
        )
    </insert>

    <update id="update">
        UPDATE SYS_ROLE  SET
        <if test="roleName != null">
            roleName = #{roleName},
        </if>
        <if test="roleCode != null">
            roleCode = #{roleCode},
        </if>
        <if test="roleDesc != null">
            roleDesc = #{roleDesc},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate}
        WHERE
        <if test="id != null">
            id = #{id}
        </if>
    </update>

    <delete id="delete">
        UPDATE SYS_ROLE SET
        del_flag = 1
        WHERE id = #{id}
    </delete>

</mapper>
