<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.github.tangyi.user.module.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="born" property="born" />
        <result column="dept_id" property="deptId"/>
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
        <result column="del_flag" property="delFlag" />
        <result column="application_code" property="applicationCode" />
    </resultMap>

    <resultMap id="userVoResultMap" type="com.github.tangyi.common.vo.UserVo">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="born" property="born" />
        <result column="dept_id" property="deptId"/>
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="modifier" property="modifier" />
        <result column="modify_date" property="modifyDate" />
        <result column="del_flag" property="delFlag" />
        <result column="application_code" property="applicationCode" />
        <collection property="roleList" ofType="com.github.tangyi.common.vo.SysRole">
            <id column="id" property="id" />
            <result column="role_name" property="roleName" />
            <result column="role_code" property="roleCode" />
            <result column="role_desc" property="roleDesc" />
            <result column="creator" property="creator" />
            <result column="create_date" property="createDate" />
            <result column="modifier" property="modifier" />
            <result column="modify_date" property="modifyDate" />
            <result column="del_flag" property="delFlag" />
            <result column="application_code" property="applicationCode" />
        </collection>
    </resultMap>

    <sql id="userColumns">
        a.id as "id",
        a.username,
        a.password,
        a.salt,
        a.phone,
        a.avatar,
        a.email,
        a.sex,
        a.born,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <sql id="selectUserVo">
        SELECT
        <include refid="userColumns"/>,
        r.role_id,
        r.role_name,
        r.role_code,
        r.role_desc,
        r.create_time AS rcreate_time,
        r.update_time AS rupdate_time
        FROM
        sys_user AS a
        LEFT JOIN sys_user_role AS ur ON ur.user_id = a.id
        LEFT JOIN sys_role AS r ON r.id = ur.role_id
    </sql>

    <select id="selectUserVoByUsername" resultMap="userVoResultMap">
        SELECT
          <include refid="userColumns"/>
        FROM SYS_USER a
        WHERE a.username = #{username}
    </select>
</mapper>
