<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ExaminationSubjectMapper">
    <resultMap id="examinationSubjectResultMap" type="com.github.tangyi.exam.module.ExaminationSubject">
        <id column="id" property="id"/>
        <id column="examination_id" property="examinationId"/>
        <id column="subject_id" property="subjectId"/>
    </resultMap>

    <sql id="examinationSubjectColumns">
        a.id as "id",
        a.examination_id,
        a.subject_id
    </sql>

    <select id="get" resultMap="examinationSubjectResultMap">
        SELECT
        <include refid="examinationSubjectColumns"/>
        FROM examination_subject a
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultMap="examinationSubjectResultMap">
        SELECT
        <include refid="examinationSubjectColumns"/>
        FROM examination_subject a
    </select>

    <select id="getByExaminationId" resultMap="examinationSubjectResultMap">
        SELECT
        <include refid="examinationSubjectColumns"/>
        FROM examination_subject a
        WHERE examination_id = #{examinationId}
    </select>

    <insert id="insert">
        insert into examination_subject (
            id,
            examination_id,
            subject_id
        ) values (
            #{id},
            #{examinationId},
            #{subjectId}
        );
    </insert>

    <delete id="delete">
        DELETE examination_subject
		WHERE id = #{id}
    </delete>

    <delete id="deleteBySubjectId">
        DELETE examination_subject
        WHERE subject_id = #{subjectId}
    </delete>
</mapper>
