<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ExaminationMapper">
    <resultMap id="examinationResultMap" type="com.github.tangyi.exam.module.Examination">
        <id column="id" property="id"/>
        <result column="examination_name" property="examinationName"/>
        <result column="type" property="type"/>
        <result column="attention" property="attention"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration" property="duration"/>
        <result column="total_score" property="totalScore"/>
        <result column="status" property="status"/>
        <result column="avatar" property="avatar"/>
        <result column="college" property="college"/>
        <result column="major" property="major"/>
        <result column="course" property="course"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
    </resultMap>

    <sql id="examinationColumns">
        a.id as "id",
        a.examination_name,
        a.type,
        a.attention,
        a.start_time,
        a.end_time,
        a.duration,
        a.total_score,
        a.status,
        a.avatar,
        a.college,
        a.major,
        a.course,
        a.remark,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="examinationName != null and examinationName != ''">
            and a.examination_name like #{examinationName}
        </if>
    </sql>

    <select id="get" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM examination a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM examination a
        WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <insert id="insert">
        insert  into examination (
            id,
            examination_name,
            type,
            attention,
            start_time,
            end_time,
            duration,
            total_score,
            status,
            avatar,
            college,
            major,
            course,
            remark,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code
        ) values (
            #{id},
            #{examinationName},
            #{type},
            #{attention},
            #{startTime},
            #{endTime},
            #{duration},
            #{totalScore},
            #{status},
            #{avatar},
            #{college},
            #{major},
            #{course},
            #{remark},
            #{creator},
            #{createDate},
            #{modifier},
            #{modifyDate},
            #{delFlag},
            #{applicationCode}
        );
    </insert>

    <update id="update">
        UPDATE examination  SET
        <if test="examinationName != null">
            examination_name = #{examinationName},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="attention != null">
            attention = #{attention},
        </if>
        <if test="startTime != null">
            start_time = #{startTime},
        </if>
        <if test="endTime != null">
            end_time = #{endTime},
        </if>
        <if test="duration != null">
            duration = #{duration},
        </if>
        <if test="totalScore != null">
            total_score = #{totalScore},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="avatar != null">
            avatar = #{avatar},
        </if>
        <if test="college != null">
            college = #{college},
        </if>
        <if test="major != null">
            major = #{major},
        </if>
        <if test="course != null">
            course = #{course},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE examination SET
			del_flag = 1
		WHERE id = #{id}
    </delete>
</mapper>
