<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ScoreMapper">
    <resultMap id="scoreResultMap" type="com.github.tangyi.exam.module.Score">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="examination_id" property="examinationId"/>
        <result column="course_id" property="courseId"/>
        <result column="score" property="score"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
    </resultMap>

    <sql id="scoreColumns">
        a.id as "id",
        a.user_id,
        a.examination_id,
        a.course_id,
        a.score,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="userId != null and userId != ''">
            and a.user_id = #{userId}
        </if>
        <if test="examinationId != null and examinationId != ''">
            and a.examination_id = #{examinationId}
        </if>
        <if test="courseId != null and courseId != ''">
            and a.course_id = #{courseId}
        </if>
    </sql>

    <select id="get" resultMap="scoreResultMap">
        SELECT
        <include refid="scoreColumns"/>
        FROM score a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="scoreResultMap">
        SELECT
        <include refid="scoreColumns"/>
        FROM score a
        WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <insert id="insert">
        insert  into score (
            id,
            user_id,
            examination_id,
            course_id,
            score,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code
        ) values (
            #{id},
            #{userId},
            #{examinationId},
            #{courseId},
            #{score},
            #{creator},
            #{createDate},
            #{modifier},
            #{modifyDate},
            #{delFlag},
            #{applicationCode}
        );
    </insert>

    <update id="update">
        UPDATE score  SET
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="examinationId != null">
            examination_id = #{examinationId},
        </if>
        <if test="courseId != null">
            course_id = #{courseId},
        </if>
        <if test="score != null">
            score = #{score},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE score SET
			del_flag = 1
		WHERE id = #{id}
    </delete>
</mapper>
