<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.SubjectMapper">
    <resultMap id="subjectResultMap" type="com.github.tangyi.exam.module.Subject">
        <id column="id" property="id"/>
        <result column="subject_name" property="subjectName"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="answer" property="answer"/>
        <result column="score" property="score"/>
        <result column="analysis" property="analysis"/>
        <result column="level" property="level"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
    </resultMap>

    <sql id="subjectColumns">
        a.id as "id",
        a.subject_name,
        a.type,
        a.content,
        a.answer,
        a.score,
        a.analysis,
        a.level,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="subjectName != null and subjectName != ''">
            and a.subject_name like #{subjectName}
        </if>
    </sql>

    <select id="get" resultMap="subjectResultMap">
        SELECT
        <include refid="subjectColumns"/>
        FROM subject a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="subjectResultMap">
        SELECT
        <include refid="subjectColumns"/>
        FROM subject a
        WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <insert id="insert">
        insert  into subject (
            id,
            subject_name,
            type,
            content,
            answer,
            score,
            analysis,
            level,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code
        ) values (
            #{id},
            #{subjectName},
            #{type},
            #{content},
            #{answer},
            #{score},
            #{analysis},
            #{level},
            #{creator},
            #{createDate},
            #{modifier},
            #{modifyDate},
            #{delFlag},
            #{applicationCode}
        );
    </insert>

    <update id="update">
        UPDATE subject  SET
        <if test="subjectName != null">
            subject_name = #{subjectName},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="content != null">
            content = #{content},
        </if>
        <if test="answer != null">
            answer = #{answer},
        </if>
        <if test="score != null">
            score = #{score},
        </if>
        <if test="analysis != null">
            analysis = #{analysis},
        </if>
        <if test="level != null">
            level = #{level},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE subject SET
			del_flag = 1
		WHERE id = #{id}
    </delete>
</mapper>
